@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka&family=Mukta:wght@200&display=swap');

body{
    background-size: cover;
    background-position: center center;
    background: url('../images/background.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titlebar{
    color: white;
    background-color: rgba(21, 21, 21, 0.4);
    text-align: center;
    font-family: Mukta;
    display: table;
    margin: 0px auto 0px auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 15%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}

.menubar{
    font-size: 18px;
}

.projectbox{
    background-color: rgba(21, 21, 21, 0.4);
    color: white;
    text-align: center;
    margin: 0px auto 0px auto;
    font-family: Mukta;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 25%;
}

.container{
    background-color: rgba(21, 21, 21, 0);
    font-family: Mukta;
    padding-top: 2%;
    padding-bottom: 1%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

footer{
    font-family: Mukta;
    color: white;
    background-color:rgba(21, 21, 21, 0.4);
    font-size: 16px;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.menubar a {text-decoration: none; color: white;}
.menubar p {display: inline-block;}
.titlebar a {font-size: 20px; color: white;}
.titlebar h1 {font-size: 40px;}
.projectbox a { color: white; text-decoration: none;}
.projectbox p1 {text-decoration: underline;}
a:hover{ color: #c9c9c9;}

@media (max-width: 1800px) {.titlebar{width: 50%;}}
